
#admin-dashboard {
  background-color: #8da99b;
  color: black;
  font-family: "Virtuose", sans-serif;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 20px; /* Add padding around the buttons */
}

.button-style {
  background-color: #57675c; /* Change the background color */
  color: #fff; /* Set the font color to white */
  font-family: 'virtuose', sans-serif; /* Set the font style to 'virtuose' */
  font-weight: bold; /* Make the font bold */
  padding: 10px 20px; /* Add padding inside the button */
  border: none; /* Remove the button border */
  cursor: pointer; /* Add a cursor pointer on hover */
  transition: background-color 0.3s ease; /* Add a smooth transition for the background color */
}

.button-style:hover {
  background-color: #2c2827; /* Change the background color on hover */
}

.admin-title {
  padding-top: 20px; /* Adjust the value as needed */
  background-color: #8da99b;
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-family: "virtuose", sans-serif;
}
